<!DOCTYPE html>
<html>
<head>
    <title>Task Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<style>
    a {
        color: white;
    }
</style>
<body>
    <div class="container">
        <h1>Task Form</h1>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn btn-danger"><a href="{% url 'task_list' %}">Cancel</a></button>

                </form>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>