<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <a href="{% url 'create_student' %}">Add New Student</a>
    <ul>
        {% for student in students %}
            <li>{{ student.first_name }} {{ student.last_name }} (Age: {{ student.age }})
                <a href="{% url 'update_student' student.id %}">Edit</a>
                <a href="{% url 'delete_student' student.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
